<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>E-Paper</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>My E-Papers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="favourites?.length==0">
    <ion-card-header class="my-epapers-header">No Favourite E-Papers</ion-card-header>
    <ion-card-content>
      <p>You are currently not following any E-Papers.</p>
      <p>First select a E-Paper, then you can follow it from their details page.</p>
      <button ion-button icon-left full (click)="goToEPapersPage()">
        <ion-icon name="search"></ion-icon>
        Find a E-Paper
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="favourites?.length>0">
    <ion-card-header class="my-epapers-header">Favourite E-Papers</ion-card-header>
    <ion-list>
      <button icon-left ion-item *ngFor="let epaper of favourites" (click)="epaperSelected($event, epaper)">
          <ion-icon name="star"></ion-icon>{{epaper.name}}
          <p>{{epaper.editionName}} Edition</p>
      </button>
    </ion-list>
    <ion-card-content>
      <p>To follow more, select an E-Paper, then you can follow them from their details page.</p>
      <button ion-button icon-left full (click)="goToEPapersPage()">
        <ion-icon name="search"></ion-icon>
        Find a E-Paper
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>