<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{epaper.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD MMM YYYY" [min]="minDateForPicker" [max]="todaysDate" [(ngModel)]="publishDate" (ionChange)="setPublishDate(publishDate)"></ion-datetime>
  </ion-item>

  <ion-card>
    <!--ion-card-header>
      <ion-grid>
      </ion-grid>
    </ion-card-header-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{epaper.editionName}} Edition</h2>
            Pages: {{epaper.noOfPages}}
          </ion-col>
          <ion-col text-right>
            <ion-img width="120" height="185" [src]="epaper.thumbnailsFullUrl"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <button ion-button icon-right>Add Favourite<ion-icon name="star"></ion-icon></button>
            <button ion-button icon-right (click)="viewEPaper($event)" [disabled]="epaper.noOfPages == 0">Read<ion-icon name="book"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>