<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{epaper.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="goToHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DDD DD-MMMM-YYYY" pickerFormat="DD MMM YYYY" [min]="minDateForPicker" [max]="todaysDate" [(ngModel)]="publishDate"
      (ionChange)="setPublishDate(publishDate)"></ion-datetime>
  </ion-item>

  <ion-card>
    <!--ion-card-header>
      <ion-grid>
      </ion-grid>
    </ion-card-header-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{epaper.editionName}} Edition</h2>
            <h3>Pages: {{epaper.noOfPages}}</h3>
          </ion-col>
          <ion-col text-right>
            <ion-img width="120" height="170" [src]="epaper.thumbnailsUrl+'1_carousalthumb.jpg'" (tap)="viewEPaper()"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <button ion-button icon-right (tap)="setFavouriteEPaper()" *ngIf="!isFavouriteEPaper">Favourite<ion-icon name="star"></ion-icon></button>
            <button ion-button icon-right (tap)="removeFavouriteEPaper()" *ngIf="isFavouriteEPaper">Un-Favourite<ion-icon name="star"></ion-icon></button>
            <button ion-button icon-right (tap)="viewEPaper()" [disabled]="epaper.noOfPages == 0">Read<ion-icon name="book"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>