<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{epaper.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="custom-toolbar" color="light">
    <ion-title>
      <ion-row class="custom-toolbar-title">
        <ion-col>
          {{epaper.editionName}}
        </ion-col>
        <ion-col text-right>
          {{epaper.publishDate | date:"EEE dd-MMMM-yyyy"}}
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--FAB Buttons -->
<!--ion-fab middle left *ngIf="currentPage!=1">
  <button ion-fab mini clear (click)="changePage(currentPage-1)"><ion-icon name="arrow-back"></ion-icon>{{currentPage-1}}</button>
</ion-fab>
<ion-fab middle right *ngIf="currentPage!=epaper.noOfPages">
  <button ion-fab mini clear (click)="changePage(currentPage+1)">{{currentPage+1}}<ion-icon name="arrow-forward"></ion-icon></button>
</ion-fab-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 *ngFor="let pageNumber of noOfPages">
        <ion-card text-center align-self-center (click)="goToPage(pageNumber)">
          <ion-img width="120" height="170" [src]="epaper.thumbnailsUrl+pageNumber+'.jpg'"></ion-img>
          <p>{{pageNumber}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--pdf-viewer [src]="pdfUrl" [original-size]="false" [zoom]="zoom" [render-text]="false" style="display: block;" (after-load-complete)="pdfLoadComplete($event)"></pdf-viewer-->

  <!--button ion-button (click)="downloadImage('test_1.jpeg')" color="secondary">Download image</button-->
  <!--button ion-button (click)="viewPaper('test_1.jpeg')">View</button-->
  <!--button ion-button (click)="retrieveImage('test_1.jpeg')" color="secondary">Retrieve downloaded image</button-->

  <!--button ion-button (click)="downloadPDF('test_1.PDF')" color="secondary">Download PDF</button-->
  <!--button ion-button (click)="viewPDF('test_1.PDF')">View PDF</button-->

  <!--ion-fab left bottom>
    <button ion-fab mini (click)="zoomSub()"><ion-icon name="remove"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab mini (click)="zoomAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab-->
</ion-content>

<!--ion-footer>
  <ion-toolbar color="primary">
    <ion-range min="150" max="200" step="1" debounce="700" [(ngModel)]="selectedZoom" (ionChange)="changeZoom()" color="light">
      <ion-icon range-left small name="search" color="light"></ion-icon>
      <ion-icon range-right name="search" color="light"></ion-icon>
    </ion-range>
  </ion-toolbar>
</ion-footer-->
